<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
		<add name="Python FastCGI" 
			path="*" 
			verb="*" 
			modules="FastCgiModule" 
			scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py"
			resourceType="Unspecified"
			requireAccess="Script" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="main.app" />
		<add key="PYTHONPATH" value="c:\inetpub\wwwroot2\flaskiis" />
		<add key="WSGI_LOG" value="c:\inetpub\wwwroot2\flaskiis\app.log" />
	</appSettings>
</configuration>